<template>
	<VueMap
		:center="{lng: 13.37770, lat: 52.51628}"
		map-style="https://map.cepharum.de/styles/basic-preview/style.json"
		zoom="9"
		min-zoom="3"
		max-zoom="19"
		name="alt"
	>
		<VueMapHereControl position="bottom-left" />
		<VueMapMarkers :pois="pois" :icons="icons" />
	</VueMap>
</template>

<script setup>
import { onMounted, ref } from "vue";

import VueMap from "@/components/VueMap.vue";
import VueMapMarkers from "@/components/VueMapMarkers.vue";

import defaultIcon from "@/assets/icons/default.png";
import smileIcon from "@/assets/icons/smile.png";
import VueMapHereControl from "@/components/VueMapHereControl.vue";

const pois = ref( [{
	type: "Feature",
	geometry: {
		type: "Point",
		coordinates: [ 13.37770, 52.51628 ],
	},
	properties: {}
}] );

const icons = ref( {
	default: defaultIcon,
	smile: smileIcon,
} );

onMounted( () => {
	const p = new Array( 10000 );

	for ( let i = 0; i < 10000; i++ ) {
		p[i] = {
			type: "Feature",
			geometry: {
				type: "Point",
				coordinates: [
					13.37770 + ( 4 * Math.random() ) - 2,
					52.51628 + ( 4 * Math.random() ) - 2,
				],
			},
			properties: {
				icon: i & 1 ? "smile" : "default",
			}
		};
	}

	pois.value = p;
} );
</script>
