<template>
	<VueMap
		:center="{lng: 13.37770, lat: 52.51628}"
		map-style="https://map.cepharum.de/styles/basic-preview/style.json"
		zoom="9"
		min-zoom="3"
		max-zoom="19"
		name="mass-marker"
		cluster-radius="100"
		cluster-max-zoom="14"
		cluster-min-points="5"
	>
		<VueMapCustomHere size="192" watch accurate fill="#dd8800" glow="#ffaa00" />
	</VueMap>
</template>

<script setup>
import { onBeforeUnmount, onMounted } from "vue";

import { useMapStore } from "@/stores/map.js";

import VueMap from "@/components/VueMap.vue";
import VueMapCustomHere from "@/components/VueMapCustomHere.vue";

const store = useMapStore( "mass-marker" );

let timer;

onMounted( () => {
	store.addMarker( 12345678, 13.37770, 52.51628, "origin" );

	// test scenario:
	// add another 10k of markers every second until there are 500k markers
	let _offset = 0;

	timer = setInterval( () => {
		store.addMarkers( new Array( 10000 ).fill( 0 ).map( ( _, i ) => ( {
			id: ( _offset * 10000 ) + i + 1,
			label: `ID${( _offset * 10000 ) + i + 1}`,
			type: "default",
			lng: 13.37770 + ( 4 * Math.random() ) - 2,
			lat: 52.51628 + ( 4 * Math.random() ) - 2,
		} ) ) );

		if ( ++_offset >= 50 ) {
			clearInterval( timer );
		}
	}, 1000 );
} );

onBeforeUnmount( () => {
	clearInterval( timer );

	store.removeAllMarkers();
} );
</script>
