<template>
	<VueMap
		:center="{lng: 13.37770, lat: 52.51628}"
		map-style="https://map.cepharum.de/styles/basic-preview/style.json"
		zoom="9"
		min-zoom="3"
		max-zoom="19"
		name="route"
	>
		<VueMapPolygon :points="points" width="6" />
	</VueMap>
</template>

<script setup>
import { onBeforeUnmount, onMounted, ref } from "vue";

import VueMap from "@/components/VueMap.vue";
import VueMapPolygon from "@/components/VueMapPolygon.vue";

const points = ref( [[ 13.37770, 52.51628 ]] );

let timer;

onMounted( () => {
	timer = setInterval( () => {
		const last = points.value[points.value.length - 1];

		points.value.push( [
			last[0] + ( Math.random() * 0.004 ) - 0.002,
			last[1] + ( Math.random() * 0.004 ) - 0.002,
		] );
	}, 50 );
} );

onBeforeUnmount( () => {
	clearInterval( timer );
} );
</script>
