<template>
	<VueMap
		map-style="https://map.cepharum.de/styles/basic-preview/style.json"
		:center="center"
		:zoom="zoom"
		min-zoom="3"
		max-zoom="19"
		name="simple"
		@vm-moving="moving = true"
		@vm-moved="onMoved"
	>
		<VueMapCustomHere size="128" watch accurate/>
		<VueMapZoomControl position="top-right" compass
		                   compass-pitch></VueMapZoomControl>
		<VueMapScaleControl position="bottom-right" max-width="200"
		                    imperial></VueMapScaleControl>
		<VueMapFullscreenControl position="top-right"></VueMapFullscreenControl>
		<div class="panel">
			<input id="option.home" type="checkbox" v-model="filter.home">
			<label for="option.home">Show Home</label>
			<button :disabled="moving" @click="zoom = 6">zoom = 6</button>
			<button :disabled="moving" @click="zoom = 15">zoom = 15</button>
			<button :disabled="moving"
			        @click="center = {lng: 13.37770, lat: 52.51628}"
			>to origin</button>
		</div>
	</VueMap>
</template>

<script setup>
import { onBeforeUnmount, onMounted, ref } from "vue";

import { useMapStore } from "@/stores/map.js";

import VueMap from "@/components/VueMap.vue";
import VueMapCustomHere from "@/components/VueMapCustomHere.vue";
import VueMapZoomControl from "@/components/VueMapZoomControl.vue";
import VueMapScaleControl from "@/components/VueMapScaleControl.vue";
import VueMapFullscreenControl from "@/components/VueMapFullscreenControl.vue";

const store = useMapStore( "simple" );
const { markerFilterState: filter } = store;

const zoom = ref( 9 );
const center = ref( { lng: 13.37770, lat: 52.51628 } );
const moving = ref( false );

onMounted( () => {
	store.markerFilter = ( options, id, lng, lat, { type } ) => options.home || type !== "home";

	store.addMarkers( [
		{
			id: 12345678,
			lng: 13.37770,
			lat: 52.51628,
			label: "Origin",
			type: "origin"
		},
		{
			id: 1,
			lng: 13.39790,
			lat: 52.53368,
			label: "Home",
			type: "home"
		},
	] );
} );

onBeforeUnmount( () => {
	store.removeAllMarkers();
} );

const onMoved = ( bounds, _zoom, _center ) => {
	moving.value = false;

	zoom.value = _zoom;
	center.value = _center;
};
</script>

<style lang="scss">
.panel {
	position: fixed;
	z-index: 1000;
	bottom: 40px;
	left: 20px;

	> *:not(input) {
		margin-right: 1em;
	}
}
</style>
