<template>
	<div class="marker-slot">
		<div
			class="vue-map-marker type-regular"
			:class="[`type-${props.type}`]"
			ref="element"
			:title="props.label"
			@click="center"
		>
			<span>{{ props.label }}</span>
		</div>
	</div>
</template>

<script setup>
import { propsDefinition, useMapMarker } from "@/composables/map-marker";

const props = defineProps( {
	type: { type: String, required: true },
	label: { type: String, required: true },
	...propsDefinition,
} );

const { element, center } = useMapMarker( props, -45 );
</script>

<style lang="scss" src="@/assets/map-marker.scss"></style>
<style lang="scss">
.vue-map-marker.type-regular {
	background: #ff6600;
	border: 1px solid #dd5500;
	color: white;

	span {
		transform-origin: center;
		transform: rotateZ(45deg);
	}
}
</style>
