<template>
	<div class="vue-map-custom-here" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { computed, watchEffect } from "vue";
import { useAttachable } from "@/composables/attachable.js";
import { useId } from "@/composables/id.js";
import { useGeolocation } from "@/composables/geolocation.js";
import { usePulsingDotRenderer } from "@/composables/renderer.js";
import { isHexColorCode } from "@/library/helpers.js";

const props = defineProps( {
	watch: {
		type: Boolean,
		default: false,
	},
	accurate: {
		type: Boolean,
		default: false,
	},
	size: [ String, Number ],
	fill: {
		type: String,
		validator: isHexColorCode,
		default: "#9988ff",
	},
	stroke: {
		type: String,
		validator: isHexColorCode,
		default: "#ffffff",
	},
	glow: {
		type: String,
		validator: isHexColorCode,
		default: "#ddccff",
	},
} );

const emits = defineEmits( ["locationError"] );

const { me, map, attach, ready } = useAttachable( setup );
const { id } = useId( "vue-map-custom-here-{id}" );
const { position, outdated } = useGeolocation( props, cause => emits( "locationError", cause ) );
const renderer = usePulsingDotRenderer( computed( () => ( { ...props, animated: !outdated.value } ) ), map );

/**
 * Sets up single-point source and a layer presenting it on the map.
 *
 * @returns {void}
 */
function setup() {
	map.value.addImage( id, renderer, { pixelRatio: 2 } );

	map.value
		.addSource( id, {
			type: "geojson",
			data: {
				type: "Feature",
				geometry: {
					type: "Point",
					coordinates: [],
				},
			},
		} )
		.addLayer( {
			id,
			source: id,
			type: "symbol",
			layout: {
				"icon-image": id,
			}
		} );
}

/**
 * Removes source and layer set up before from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeLayer( id )
		.removeSource( id );
}

watchEffect( () => {
	if ( ready.value ) {
		const coords = position.value;
		const source = map.value.getSource( id );

		source.setData( {
			type: "Feature",
			geometry: {
				type: "Point",
				coordinates: coords ? coords : [],
			},
		} );
	}
} );
</script>
