<template>
	<div class="vue-map-here-control" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { useAttachable } from "@/composables/attachable.js";
import { GeolocateControl } from "maplibre-gl";

const props = defineProps( {
	position: {
		type: String,
		validator: value => [ "top-left", "top-right", "bottom-left", "bottom-right" ].includes( value ),
		default: "top-right",
	},
	watch: {
		type: Boolean,
		default: false,
	},
	accurate: {
		type: Boolean,
		default: false,
	},
} );

const { me, map, attach } = useAttachable( setup );

let control;

/**
 * Adds geolocation control to the map.
 *
 * @returns {void}
 */
function setup() {
	control = new GeolocateControl( {
		positionOptions: {
			enableHighAccuracy: props.accurate,
		},
		trackUserLocation: props.watch,
	} );

	map.value
		.addControl( control, props.position );
}

/**
 * Removes geolocation control from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeControl( control );
}
</script>
