<template>
	<div class="vue-map-polygon" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { toRaw, watchEffect } from "vue";
import { isHexColorCode, isLngLatLike } from "@/library/helpers.js";
import { useAttachable } from "@/composables/attachable.js";
import { useId } from "@/composables/id.js";

const props = defineProps( {
	points: {
		type: Array,
		validator: value => Array.isArray( value ) && value.every( isLngLatLike ),
		default: () => [],
	},
	color: {
		type: String,
		validator: isHexColorCode,
		default: "#0000bb",
	},
	width: {
		type: [ String, Number ],
		validator: value => /^[1-9]\d*$/.test( value ),
		default: 8,
	},
} );

const { me, map, attach, ready } = useAttachable( setup );
const { id } = useId( "vue-map-polygon-{id}" );

const pureProps = {};

/**
 * Sets up single-point source and a layer presenting it on the map.
 *
 * @returns {void}
 */
function setup() {
	map.value
		.addSource( id, {
			type: "geojson",
			data: {
				type: "Feature",
				properties: {},
				geometry: {
					type: "LineString",
					coordinates: [
						[ 13.37770, 52.51628 ],
						[ 13.37770 + 0.4, 52.51628 ],
						[ 13.37770 + 0.4, 52.51628 + 0.4 ],
						[ 13.37770, 52.51628 + 0.4 ],
					],
				},
			},
		} )
		.addLayer( {
			id,
			source: id,
			type: "line",
			layout: {
				"line-join": "round",
				"line-cap": "round",
			},
			paint: {
				"line-color": [ "get", "color", [ "literal", pureProps ] ],
				"line-width": [ "to-number", [ "get", "width", [ "literal", pureProps ] ] ],
			},
		} );
}

/**
 * Removes source and layer set up before from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeLayer( id )
		.removeSource( id );
}

// update data of source if list of POIs has been adjusted
watchEffect( () => {
	if ( ready.value ) {
		const source = map.value.getSource( id );

		source.setData( {
			type: "Feature",
			properties: {},
			geometry: {
				type: "LineString",
				coordinates: props.points ?? [],
			},
		} );
	}
} );

watchEffect( () => {
	pureProps.color = props.color;
	pureProps.width = props.width;
} );
</script>
