<template>
	<div class="marker-slot">
		<div
			class="vue-map-marker type-cluster"
			ref="element"
			:title="map.isClustering ? undefined : props.count"
			@click="focus"
		>
			<span v-if="map.isClustering"><span class="lds-dual-ring"></span></span>
			<span v-else>{{ props.label || props.count }}</span>
		</div>
	</div>
</template>

<script setup>
import { propsDefinition, useMapMarker } from "@/composables/map-marker";
import { useMapStore } from "@/stores/map";
import { watchEffect } from "vue";
import { storeToRefs } from "pinia";

const props = defineProps( {
	count: { type: Number, required: true },
	label: { type: [ String, Number ], required: false },
	...propsDefinition,
} );

const map = useMapStore( props.mapName );
const { element } = useMapMarker( props );

const { isClustering } = storeToRefs( map );
watchEffect( () => element?.value && element.value.classList[isClustering.value ? "add" : "remove"]( "clustering" ) );

const flyTo = async() => {
	if ( map.isClustering ) {
		return;
	}

	const sw = [ 180, 90 ];
	const ne = [ -180, -90 ];

	// get bounds for all leaves of cluster
	const children = props.count > 500 ? await map.getClusterChildren( props.id ) : await map.getClusterLeaves( props.id );
	if ( !children ) {
		return;
	}

	for ( const child of children ) {
		const p = child.geometry.coordinates;

		if ( p[0] < sw[0] ) {
			sw[0] = p[0];
		}

		if ( p[0] > ne[0] ) {
			ne[0] = p[0];
		}

		if ( p[1] < sw[1] ) {
			sw[1] = p[1];
		}

		if ( p[1] > ne[1] ) {
			ne[1] = p[1];
		}
	}

	map.api.fitBounds( [ sw, ne ], {
		padding: 64,
		animate: true,
		essential: true,
	} );
};

const focus = event => {
	event.clusterMarker = true;

	flyTo();
};
</script>

<style lang="scss" src="@/assets/map-marker.scss"></style>
<style lang="scss">
.vue-map-marker.type-cluster {
	background: #55bb00;
	border: 1px solid #449900;
	border-bottom-left-radius: calc(var(--vue-map-pin-size) / 2);
	color: white;

	&.clustering {
		cursor: default;
	}

	.lds-dual-ring {
		display: flex;
		width: calc(var(--vue-map-pin-size) / 2);
		height: calc(var(--vue-map-pin-size) / 2);
		justify-content: center;
		align-items: center;
	}

	.lds-dual-ring:after {
		content: " ";
		display: block;
		width: calc(var(--vue-map-pin-size) / 4);
		height: calc(var(--vue-map-pin-size) / 4);
		border-radius: 50%;
		border: 4px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: lds-dual-ring 1.2s linear infinite;
	}

	@keyframes lds-dual-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

}
</style>
