<template>
	<div class="vue-map-fullscreen-control" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { useAttachable } from "@/composables/attachable.js";
import { FullscreenControl } from "maplibre-gl";

const props = defineProps( {
	position: {
		type: String,
		validator: value => [ "top-left", "top-right", "bottom-left", "bottom-right" ].includes( value ),
		default: "bottom-left",
	},
} );

const { me, map, attach } = useAttachable( setup );

let control;

/**
 * Adds fullscreen display to the map.
 *
 * @returns {void}
 */
function setup() {
	control = new FullscreenControl();

	map.value
		.addControl( control, props.position );
}

/**
 * Removes fullscreen display from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeControl( control );
}
</script>
