<template>
	<div class="vue-map-zoom-control" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { useAttachable } from "@/composables/attachable.js";
import { NavigationControl } from "maplibre-gl";

const props = defineProps( {
	position: {
		type: String,
		validator: value => [ "top-left", "top-right", "bottom-left", "bottom-right" ].includes( value ),
		default: "bottom-left",
	},
	zoom: {
		type: Boolean,
		default: true,
	},
	compass: {
		type: Boolean,
		default: false,
	},
	compassPitch: {
		type: Boolean,
		default: false,
	},
} );

const { me, map, attach } = useAttachable( setup );

let control;

/**
 * Adds navigation control to the map.
 *
 * @returns {void}
 */
function setup() {
	control = new NavigationControl( {
		showZoom: props.zoom,
		showCompass: props.compass,
		visualizePitch: props.compassPitch,
	} );

	map.value
		.addControl( control, props.position );
}

/**
 * Removes navigation control from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeControl( control );
}
</script>
