<template>
	<div
		ref="canvas"
		class="vue-map"
		@vmAttach.capture="injectMap($event)"
		@vmDetach.capture="injectMap($event)"
	>
		<slot></slot>
		<template v-if="available">
			<component
				v-for="marker of store.markers"
				:is="markerTypes[marker.properties.type || 'default'] || markerTypes.default"
				:key="marker.id"
				:id="marker.id"
				:lng="marker.geometry.coordinates[0]"
				:lat="marker.geometry.coordinates[1]"
				:label="marker.properties.label"
				:count="marker.properties.count"
				:type="marker.properties.type"
				:mapName="props.name"
			></component>
		</template>
	</div>
</template>

<script setup>
import {
	ref,
	onMounted,
	onBeforeUnmount,
	shallowRef,
	watchEffect,
	computed, onUnmounted, watch
} from "vue";
import { Map } from "maplibre-gl";
import { useMapStore } from "@/stores/map";
import VueMapMarker from "@/components/VueMapMarker.vue";
import VueMapCluster from "@/components/VueMapCluster.vue";
import { isLngLatLike, isZoom } from "@/library/helpers.js";

const props = defineProps( {
	name: {
		type: String,
		default: "map",
	},
	center: {
		type: [ Array, Object ],
		validator: isLngLatLike,
		default: () => ( { lng: 0, lat: 0 } ),
	},
	zoom: {
		type: [ Number, String ],
		validator: isZoom,
		default: () => 9,
	},
	minZoom: {
		type: [ Number, String ],
		validator: isZoom,
		default: 1,
	},
	maxZoom: {
		type: [ Number, String ],
		validator: isZoom,
		default: 20,
	},
	markerComponents: {
		type: Object,
	},
	mapStyle: {
		type: String,
		required: true,
	},
	clusterRadius: [ Number, String ],
	clusterMaxZoom: [ Number, String ],
	clusterMinPoints: [ Number, String ],
} );

const emits = defineEmits( [ "vmClustering", "vmClustered", "vmMoving", "vmMoved" ] );

const store = useMapStore( props.name );

const canvas = shallowRef( null );

const api = shallowRef( null ); // eslint-disable-line consistent-this

const available = ref( false );

const markerTypes = computed( () => ( {
	cluster: VueMapCluster,
	default: VueMapMarker,
	...props.markerComponents
} ) );

const zoom = computed( () => Number( props.zoom ) );

const center = computed( () => {
	if ( !props.center ) {
		return null;
	}

	let lng, lat;

	if ( Array.isArray( props.center ) ) {
		[ lng, lat ] = props.center;
	} else if ( props.center.lon != null ) {
		( { lon: lng, lat } = props.center );
	} else if ( props.center.lng != null ) {
		( { lng, lat } = props.center );
	}

	return [
		store.round( lng ),
		store.round( lat ),
	];
} );

watchEffect( () => {
	if ( store.isClustering ) {
		emits( "vmClustering" );
	} else {
		emits( "vmClustered" );
	}
} );

watchEffect( () => {
	if ( store.isMoving ) {
		emits( "vmMoving" );
	} else if ( api.value ) {
		emits( "vmMoved", api.value.getBounds(), api.value.getZoom(), api.value.getCenter() );
	}
} );

watchEffect( () => {
	const options = {};

	if ( props.clusterRadius > 0 ) {
		options.radius = Number( props.clusterRadius );
	}

	if ( props.clusterMaxZoom > 0 ) {
		options.maxZoom = Number( props.clusterMaxZoom );
	}

	if ( props.clusterMinPoints > 0 ) {
		options.minPoints = Number( props.clusterMinPoints );
	}

	store.configureCluster( options );
} );

watch( zoom, value => store.flyTo( value ) );

watch( center, ( [ newLng, newLat ], [ oldLng, oldLat ] ) => {
	if ( newLng === oldLng && newLat === oldLat ) {
		return;
	}

	store.flyTo( undefined, newLng, newLat );
} );

onMounted( () => {
	// create instance of map manager and track it in store
	api.value = new Map( {
		container: canvas.value,
		style: props.mapStyle,
		center: props.center,
		zoom: parseInt( props.zoom, 10 ),
		minZoom: parseInt( props.minZoom, 10 ),
		maxZoom: parseInt( props.maxZoom, 10 ),
	} );

	store.onMapPresentationStart( api.value );

	available.value = true;
} );

onBeforeUnmount( () => {
	available.value = false;

	store.onMapPresentationStop();
} );

onUnmounted( () => {
	api.value.remove();

	api.value = canvas.value = undefined;
} );

const injectMap = event => {
	event.vueMapApi = api; // eslint-disable-line no-param-reassign
};
</script>

<style src="maplibre-gl/dist/maplibre-gl.css"></style>
<style src="@/assets/map.scss"></style>
<style lang="scss">
.vue-map {
	width: 100%;
	height: 100%;

	> .vue-map-marker {
		visibility: hidden;
	}
}
</style>
