<template>
	<div class="vue-map-markers" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { toRaw, watchEffect } from "vue";
import { useAttachable } from "@/composables/attachable.js";
import { useId } from "@/composables/id.js";
import { isGeoJsonFeatureList } from "@/library/helpers.js";

const props = defineProps( {
	pois: {
		type: Array,
		default: () => [],
		validator: isGeoJsonFeatureList,
	},
	icons: {
		type: Object,
		default: () => ( {} ),
	},
	width: Number,
	height: Number,
	anchor: String,
} );

const { me, map, attach, ready } = useAttachable( setup );
const { id } = useId( "vue-map-markers-{id}" );

/**
 * Provides some props non-reactively so that maplibre-gl expression can access
 * them.
 *
 * @type {Object}
 */
const pureProps = {};

/**
 * Sets up single-point source and a layer presenting it on the map.
 *
 * @returns {void}
 */
function setup() {
	map.value
		.addSource( id, {
			type: "geojson",
			data: {
				type: "FeatureCollection",
				features: [],
			},
			cluster: true,
			clusterMaxZoom: 15,
			clusterRadius: 50,
		} )
		.addLayer( {
			id,
			source: id,
			type: "symbol",
			layout: {
				"icon-anchor": [
					"coalesce",
					[ "get", "anchor" ],
					[ "get", "anchor", [ "literal", pureProps ] ],
					"bottom",
				],
				"icon-image": [
					"image",
					[
						"concat", id, "_",
						[ "coalesce", [ "get", "icon" ], "default" ],
					],
				],
			},
		} );
}

/**
 * Removes source and layer set up before from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeLayer( id )
		.removeSource( id );
}

// register images per marker type as provided in property `icons`
watchEffect( () => {
	if ( !ready.value ) {
		return;
	}

	const images = map.value.listImages();

	for ( const name of images ) {
		if ( name.startsWith( id + "_" ) && props.icons?.[name] == null ) {
			map.value.removeImage( name );
		}
	}

	if ( props.icons ) {
		for ( const name of Object.keys( props.icons ) ) {
			const iconName = id + "_" + name;

			if ( !images.includes( iconName ) ) {
				const url = props.icons[name];

				map.value.loadImage( url, ( error, image ) => {
					if ( error ) {
						console.error( url, error );
					} else {
						map.value.addImage( iconName, image );
					}
				} );
			}
		}
	}
} );

// update data of source if list of POIs has been adjusted
watchEffect( () => {
	if ( ready.value && props.icons ) {
		const source = map.value.getSource( id );

		source.setData( {
			type: "FeatureCollection",
			features: toRaw( props.pois ),
		} );
	}
} );

watchEffect( () => {
	pureProps.anchor = props.anchor || null;
} );
</script>
