<template>
	<div class="vue-map-scale-control" ref="me" @vmAttach="attach($event)" @vmDetach="teardown()"></div>
</template>

<script setup>
import { useAttachable } from "@/composables/attachable.js";
import { ScaleControl } from "maplibre-gl";

const props = defineProps( {
	position: {
		type: String,
		validator: value => [ "top-left", "top-right", "bottom-left", "bottom-right" ].includes( value ),
		default: "bottom-left",
	},
	maxWidth: {
		type: [ String, Number ],
		validator: value => /^\s*[1-9]\d*\s*$/.test( value ),
		default: 80,
	},
	metric: Boolean,
	imperial: Boolean,
	nautical: Boolean,
} );

const { me, map, attach } = useAttachable( setup );

let control;

/**
 * Adds scale display to the map.
 *
 * @returns {void}
 */
function setup() {
	control = new ScaleControl( {
		maxWidth: Number( props.maxWidth ) || 80,
		unit: props.nautical ? "nautical" : props.imperial ? "imperial" : "metric",
	} );

	map.value
		.addControl( control, props.position );
}

/**
 * Removes scale display from map.
 *
 * @returns {void}
 */
function teardown() {
	map.value
		.removeControl( control );
}
</script>
