// implements common styling of a map marker
.vue-map-marker {
	width: var(--vue-map-pin-size);
	height: var(--vue-map-pin-size);
	box-sizing: border-box;
	border-bottom-right-radius: calc(var(--vue-map-pin-size) / 2);
	border-top-left-radius: calc(var(--vue-map-pin-size) / 2);
	border-top-right-radius: calc(var(--vue-map-pin-size) / 2);
	box-shadow: 0 0 5px #00000040;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: box-shadow 200ms ease;

	> span {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:hover {
		box-shadow: 0 0 5px 1px #00000080;
	}
}
