<template>
	<RouterView></RouterView>
	<nav :class="position">
		<button v-if="topLeft" @click="topLeft = false">&raquo;</button>
		<RouterLink to="simple">Simple</RouterLink>
		<RouterLink to="mass-marker">Mass Marker</RouterLink>
		<RouterLink to="route">Route</RouterLink>
		<RouterLink to="alt">Alt</RouterLink>
		<button v-if="!topLeft" @click="topLeft = true">&laquo;</button>
	</nav>
</template>

<script setup>
import { computed, ref } from "vue";

const topLeft = ref( true );
const position = computed( () => ( topLeft.value ? "top-left" : "top-right" ) );
</script>

<style>
#app {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
</style>

<style scoped>
nav {
	position: fixed;
	top: 20px;
	padding: 10px 0;
	background: #ffffffb0;
}

.top-left {
	left: 20px;
}

.top-right {
	right: 20px;
}

button, a {
	margin: 0 10px;
}

a {
	color: blue;
	text-decoration: none;
}

.router-link-active {
	text-decoration: underline;
}
</style>
